In [23]:
import pandas as pd
import os

In [24]:
data = pd.read_csv('..\\DataMining\\src\\data\\train.csv')
clustered_data = pd.read_csv('..\\DataMining\\src\\data\\clusteredData.csv')
data

,CustomerID,Monetary,Recency,Frequency,10002,10080,10120,10125,10133,10135,...,90169,90170,90173,90174,90188,90191,90192,90194,90204,90208
0,17791,106.10,51,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,13184,1394.85,36,141,0,0,0,0,10,0,...,0,0,0,0,0,0,0,0,0,0
2,13824,1593.94,54,43,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,16692,1126.00,278,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12778,642.26,41,40,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3877,16311,593.46,39,35,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3878,16125,234.45,389,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3879,13565,234.37,41,36,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3880,17827,1640.58,27,184,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3881,12637,5755.44,89,375,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
clustered_data

      CustomerID  Monetary  Recency  Frequency   cluster
0          17791    106.10       51         10  cluster1
1          13184   1394.85       36        141  cluster1
2          13824   1593.94       54         43  cluster1
3          16692   1126.00      278          2  cluster3
4          12778    642.26       41         40  cluster1
...          ...       ...      ...        ...       ...
3877       16311    593.46       39         35  cluster1
3878       16125    234.45      389         11  cluster3
3879       13565    234.37       41         36  cluster1
3880       17827   1640.58       27        184  cluster1
3881       12637   5755.44       89        375  cluster1

[3882 rows x 5 columns]

In [26]:
clusters = clustered_data['cluster'].unique()
n_cluster = len(clusters)
clusters

array(['cluster1', 'cluster3', 'cluster2'], dtype=object)

In [27]:
clustered_data = pd.concat([data, clustered_data['cluster']], axis=1)

In [28]:
clustered_data

,CustomerID,Monetary,Recency,Frequency,10002,10080,10120,10125,10133,10135,...,90170,90173,90174,90188,90191,90192,90194,90204,90208,cluster
0,17791,106.10,51,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,cluster1
1,13184,1394.85,36,141,0,0,0,0,10,0,...,0,0,0,0,0,0,0,0,0,cluster1
2,13824,1593.94,54,43,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,cluster1
3,16692,1126.00,278,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,cluster3
4,12778,642.26,41,40,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,cluster1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3877,16311,593.46,39,35,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,cluster1
3878,16125,234.45,389,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,cluster3
3879,13565,234.37,41,36,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,cluster1
3880,17827,1640.58,27,184,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,cluster1
3881,12637,5755.44,89,375,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,cluster1

In [31]:
cluster_data_list = [i.applymap(lambda x: 1 if x > 0 else 0) for i in cluster_data_list]

In [32]:
cluster_data_list

[      10002  10080  10120  10125  10133  10135  11001  15030  15034  15036  \
 0         0      0      0      0      0      0      0      0      0      0
 1         0      0      0      0      1      0      0      0      1      0
 2         0      0      0      0      0      0      0      0      0      0
 4         0      0      0      0      0      0      0      0      0      0
 5         0      0      0      0      0      0      0      0      0      0
 ...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 3876      0      0      0      0      0      0      0      0      0      0
 3877      0      0      0      0      0      0      0      0      0      0
 3879      0      0      0      0      0      0      0      0      0      0
 3880      0      0      0      0      0      0      0      0      0      0
 3881      1      0      0      0      0      0      0      0      0      0

       ...  90169  90170  90173  90174  90188  90191  90192  90194  90204  \
 0     ...      0      0      0      0      0      0      0      0      0
 1     ...      0      0      0      0      0      0      0      0      0
 2     ...      0      0      0      0      0      0      0      0      0
 4     ...      0      0      0      0      0      0      0      0      0
 5     ...      0      0      0      0      0      0      0      0      0
 ...   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 3876  ...      0      0      0      0      0      0      0      0      0
 3877  ...      0      0      0      0      0      0      0      0      0
 3879  ...      0      0      0      0      0      0      0      0      0
 3880  ...      0      0      0      0      0      0      0      0      0
 3881  ...      0      0      0      0      0      0      0      0      0

       90208
 0         0
 1         0
 2         0
 4         0
 5         0
 ...     ...
 3876      0
 3877      0
 3879      0
 3880      0
 3881      0

 [2606 rows x 2785 columns],
       10002  10080  10120  10125  10133  10135  11001  15030  15034  15036  \
 3         0      0      0      0      0      0      0      0      0      0
 8         0      0      0      0      0      0      0      0      0      0
 11        0      0      0      0      0      0      0      0      0      0
 18        0      0      0      0      0      0      0      0      0      0
 28        0      0      0      0      0      0      0      0      0      0
 ...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 3842      0      0      0      0      0      0      0      0      0      0
 3856      0      0      0      0      0      0      0      0      0      0
 3862      0      0      0      0      0      0      0      0      0      0
 3863      0      0      0      0      0      0      0      0      0      0
 3878      0      0      0      0      0      0      0      0      0      0

       ...  90169  90170  90173  90174  90188  90191  90192  90194  90204  \
 3     ...      0      0      0      0      0      0      0      0      0
 8     ...      0      0      0      0      0      0      0      0      0
 11    ...      0      0      0      0      0      0      0      0      0
 18    ...      0      0      0      0      0      0      0      0      0
 28    ...      0      0      0      0      0      0      0      0      0
 ...   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 3842  ...      0      0      0      0      0      0      0      0      0
 3856  ...      0      0      0      0      0      0      0      0      0
 3862  ...      0      0      0      0      0      0      0      0      0
 3863  ...      0      0      0      0      0      0      0      0      0
 3878  ...      0      0      0      0      0      0      0      0      0

       90208
 3         0
 8         0
 11        0
 18        0
 28        0
 ...     ...
 3842      0
 3856      0
 3862      0
 3863      0
 3878      0

 [565 rows x 2785 columns],
       10002  10080  10120  10125  10133  10135  11001  15030  15034  15036  \
 7         0      0      0      0      0      0      0      0      0      0
 20        0      0      0      0      0      0      0      0      0      0
 21        0      0      0      0      0      0      0      0      0      0
 25        0      0      0      0      1      0      0      0      0      0
 26        0      0      0      0      0      0      0      0      0      0
 ...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 3860      0      0      0      0      0      0      0      0      0      0
 3866      0      0      0      0      0      0      0      0      0      0
 3870      0      0      0      0      0      0      0      0      0      0
 3871      0      0      0      0      0      0      0      0      0      0
 3875      0      0      0      0      0      0      0      0      0      0

       ...  90169  90170  90173  90174  90188  90191  90192  90194  90204  \
 7     ...      0      0      0      0      0      0      0      0      0
 20    ...      0      0      0      0      0      0      0      0      0
 21    ...      0      0      0      0      0      0      0      0      0
 25    ...      0      0      0      1      0      0      0      0      0
 26    ...      0      0      0      0      0      0      0      0      0
 ...   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 3860  ...      0      0      0      0      0      0      0      0      0
 3866  ...      0      0      0      0      0      0      0      0      0
 3870  ...      0      0      0      0      0      0      0      0      0
 3871  ...      0      0      0      0      0      0      0      0      0
 3875  ...      0      0      0      0      0      0      0      0      0

       90208
 7         0
 20        0
 21        0
 25        0
 26        0
 ...     ...
 3860      0
 3866      0
 3870      0
 3871      0
 3875      0

 [711 rows x 2785 columns]]

In [34]:
for i in range(len(cluster_data_list)):
    cluster_data_list[i].to_csv("..\\DataMining\\src\\data\\cluster_"+str(i+1)+"_transaction_data.csv", index=None)